<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://twitter.com/osloswa" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/osloswa/" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<!-- li><a href="#" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li -->
						<li><a href="https://github.com/OsloSWA" target="_blank" class="icon fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="https://www.linkedin.com/company/oslo-software-architecture-oswa" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="mailto:styret@oswa.no" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
					</ul>
					<ul class="contact">
						<li>Pilestredet 56 v/ Bislett, Oslo</li>
					</ul>
					<ul class="links">
						<li><a target="_blank" href="https://goo.gl/forms/OJpL46F0qJMNvgIO2">Foreslå meetup</a></li>
						{% for customPage in pages %}
							<li><a href="{{ site.url }}{{ customPage.url }}">{{ customPage.title }}</a></li>
						{% endfor %}
					</ul>

					<p class="copyright">&copy; 2019. All rights reserved. Oslo Software Architecture.</p>
				</div>
			</footer>
