<title>OSWA.no</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta name=description content="{{ site.bio }}">
<meta name=author content="{{ site.name }}">

{% include favicon.html %}

<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}{{ "/feed.xml" }}" />

<style>
    {% capture scss_sheet %}{% include main.scss %}{% endcapture %}
    {{ scss_sheet | scssify }}
</style>

<link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/assets/css/events.css"/>
<!--script src='https://www.google.com/recaptcha/api.js?hl=no'></script-->

{% seo %}
