@import '../_sass/libs/vars';
@import '../_sass/libs/functions';
@import '../_sass/libs/mixins';
@import '../_sass/libs/vendor';
@import '../_sass/libs/breakpoints';
@import '../_sass/libs/html-grid';

/*
	Prototype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

// Breakpoints.

	@include breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( 361px,   480px  ),
		xxsmall:  ( null,    360px  )
	));

// Mixins.

	@mixin color($p) {
		@include color-typography($p);
		@include color-box($p);
		@include color-button($p);
		@include color-features($p);
		@include color-form($p);
		@include color-icon($p);
		@include color-image-circles($p);
		@include color-list($p);
		@include color-section($p);
		@include color-spotlights($p);
		@include color-table($p);
	}

// Base.

	@import '../_sass/base/reset';
	@import '../_sass/base/page';
	@import '../_sass/base/typography';

// Component.

	@import '../_sass/components/row';
	@import '../_sass/components/box';
	@import '../_sass/components/button';
	@import '../_sass/components/features';
	@import '../_sass/components/form';
	@import '../_sass/components/icon';
	@import '../_sass/components/image';
	@import '../_sass/components/image-circles';
	@import '../_sass/components/list';
	@import '../_sass/components/actions';
	@import '../_sass/components/icons';
	@import '../_sass/components/section';
	@import '../_sass/components/spotlights';
	@import '../_sass/components/table';
	@import '../_sass/components/wrapper';

// Layout.

	@import '../_sass/layout/header';
	@import '../_sass/layout/menu';
	@import '../_sass/layout/banner';
	@import '../_sass/layout/footer';
	@import '../_sass/layout/main';
