---
layout: compress
permalink: /
---
<!DOCTYPE html>
<html lang="no">

<head>
    {% include head.html %}
</head>

<body class="is-preload">

    {% include header.html %}

    {% include nav.html %}

    <section id="main" class="wrapper">
    	<header>
        {% if page.title %}
    		     <h2>{{ page.title }}</h2>
        {% else %}
             <h2>&nbsp;</h2>
        {% endif %}

        {% if page.subtitle %}
    		     <p>{{ page.subtitle }}</p>
        {% else %}
            <p>&nbsp;</p>
        {% endif %}
    	</header>

    	<div class="inner">

        {% if page.image and page.imagePos %}

          {% case page.imagePos %}
            {% when 'left' %}
               <span class="image left"><img src="{{site.url}}{{page.image}}" alt="" /></span>
            {% else %}
               <span class="image right"><img src="{{site.url}}{{page.image}}" alt="" /></span>
          {% endcase %}

        {% endif %}

        {{content}}

    	</div>
    </section>

    {% include footer.html %}

    {% include scripts.html %}

</body>
</html>
